# Eclipse specific
.project
.classpath
.settings

# sbt specific
.cache
.lib/
target/
project/project/
.sbtserver/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Idea specific
*.iml
.idea
.idea_modules/

# Common
*/.jar
*.class
.log
logs
*.lock